:root{
    --text-decoration: none;
    --list-style: none;
    --border: 1px solid;
    --primary-black: #001219;
    --primary-blue: #7400b8;
}

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    padding: 5px;
    background: #f1faee;
}
.logo{
    width: 40px;
    height: 40px;
    margin-left: 100px;
}
.nav-menu ul li a{
    text-decoration: var(--text-decoration);
    color: var(--primary-black);
    font-size: 1.2rem;
    transition: all 0.5s 0s ease;
}
.nav-menu ul li a:hover{
    text-decoration: var(--text-decoration);
    color: var(--primary-black);
    font-size: 1.2rem;
    padding: 5px;
    font-weight: bolder;
    color: var(--primary-blue);
}
.nav-menu ul li{
    list-style: var(--list-style);
}
.nav-menu ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr );
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    grid-gap: 1em;
    margin-top: 12px;
    margin-left: 10px;
    margin-left: -20px;
}
.main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 0px 0.5px 10px #4a4e69;
}
.socials-primary{
    display: grid;
    grid-template-columns: repeat(4,3em );
    margin-right: 100px;
    justify-content: flex-end;
    justify-items: center;
    align-content: center;
    font-size: 1rem;
    
}

.instagram a, .twitter a, .linked a, .github a{
    color: var(--primary-black);
    transition: all 0.5s 0s ease;
}
.instagram, .twitter, .linked , .github {
    color: var(--primary-black);
    transition: all 1s 0s ease;
}
.instagram a:hover, .twitter a:hover, .linked a:hover, .github a:hover{
    color: var(--primary-blue);
}
.instagram:hover, .twitter:hover, .linked:hover, .github:hover{
    transform: rotateX(360deg);
}
#home{
    width: 85%;
    background-image: url(./files/bg-laptop.jpg);
    height: 90vh;
    margin: auto;
    background-position: center;
    background-size: 1200px 90vh;
    background-repeat: no-repeat;
    margin-top: 5px;
}
.home{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
}
.home-opt-one ul li{
    list-style-type: var(--list-style);
    letter-spacing: 1px;
}
.home-opt-two{
    color: #100249;
    font-size: 3.7rem;
    font-weight: bold;
    margin-top:5em;
}
.home-opt-one{
    color: var(--primary-black);
    font-size: 1rem;
    margin-top:19em;
    font-weight: bold;
    padding: 5px;
    margin-left: 100px;
}
.home-opt-one ul li::after{
    background: red;
    width: 100px;
    height: 10px;
}
.home-underline{
    margin-bottom: 10px;
}
.discover{
    width: 150px;
    height: 50px;
    background: var(--primary-blue);
    color: var(--primary-black);
    font-size: 16px;
    font-weight: bolder;
    border-radius: 15px;
    border: none;
    margin-top: 40px;
}